
body{
    background-color: gray;
    height: 500px;
}

.box{
    width: 1200px;
    margin: 20px auto;
}

.box2{
    height: 500px;
    width: 1200px;
    margin: 300px auto;
    background-color: antiquewhite;
}

div{
    text-align: center;
}

.blue{
    width: 30%;
    border: 5px solid lightgray;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin: 0 20px;
    background-color: white;
}
.green{
    width: 30%;
    border: 5px solid lightgray;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin: 0 20px;
    background-color: white;
}
.red{
    width: 30%;
    border: 5px solid lightgray;
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin: 0 20px;
    background-color: white;
}
.clear{
    clear: both;
}
